[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/Kawser Wazed Nafi (Kawser-nerd)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Kawser Wazed Nafi (Kawser-nerd)
	label-Verified = -1..+1 group user/Kawser Wazed Nafi (Kawser-nerd)
	push = group user/Kawser Wazed Nafi (Kawser-nerd)
	read = group user/Kawser Wazed Nafi (Kawser-nerd)
	rebase = group user/Kawser Wazed Nafi (Kawser-nerd)
	removeReviewer = group user/Kawser Wazed Nafi (Kawser-nerd)
	submit = group user/Kawser Wazed Nafi (Kawser-nerd)
[access "refs/heads/*"]
	create = group user/Kawser Wazed Nafi (Kawser-nerd)
	push = +force group user/Kawser Wazed Nafi (Kawser-nerd)
	pushMerge = group user/Kawser Wazed Nafi (Kawser-nerd)
	read = group user/Kawser Wazed Nafi (Kawser-nerd)
[access "refs/tags/*"]
	push = group user/Kawser Wazed Nafi (Kawser-nerd)
	push = +force group user/Kawser Wazed Nafi (Kawser-nerd)
